.banner-intro{
    margin-bottom: 100px;
}

.vista-perfil{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
}

.vista-perfil > .lateral-grid{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 25vw;
    align-items: center;
    align-content: center;
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px ;
}

.vista-perfil > .lateral-grid *{
  width: 100%;
  color: black;
  text-decoration: none;
  border-radius: 2px;
  transition: 0.65s all ease-in-out;
}


.vista-perfil > .lateral-grid *:hover{
  text-decoration: none;
   border-radius: 2px;
  box-shadow: 0px 1px 1px blueviolet,
              0px -1px 1px blueviolet;

}


.info-general-acc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30vw;
    height: 50vh;
    
}

.info-general-acc img{
    width: 5vw;
    box-shadow: 0px 0px 3px gray;
    aspect-ratio: 1 / 1; 
    border-radius: 50%;
}

.info-general-acc div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.info-general-acc .btn{
    display: flex;
    width: 10vw;
    justify-content: space-evenly;
}

.plan-select{
    background-color: rgb(179, 100, 252);
    color: white;
    padding: 15px;
    border-radius: 35px;
}


.section-preguntas-frecuentes{
    padding: 50px 0px;
    border: 1px solid black;
    text-align: center;
    
}

.acordeon-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.acordeon-header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 99vw;
  background-color: #fcfcfc;
  transition: background 0.3s ease;
}

.acordeon-header h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
}

.acordeon-header:hover {
  background-color: #f3e5f5; /* Color sutil de hover */
}

.icon {
  font-size: 1.5rem;
  color: blueviolet; /* Color Synapse */
  font-weight: bold;
}

/* --- EFECTO DE DESPLIEGUE --- */
.acordeon-content {
  max-height: 0;
  width: 50vw;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
}

.acordeon-item.active .acordeon-content {
  max-height: 200px; /* Altura suficiente para el texto */
  padding: 0 20px 20px 20px;
}

.acordeon-item.active .acordeon-header h3 {
  color: blueviolet;
}