.banner-intro{
    margin-bottom: 100px;
}

.vista-perfil{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
}

.lateral-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 25vw;
    align-items: center;
    align-content: center;
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px ;
}

.info-general-acc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30vw;
    height: 50vh;
    
}

.info-general-acc img{
    width: 5vw;
}

.info-general-acc div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.plan-select{
    background-color: aqua;
    padding: 10px;
    border-radius: 25px;
}


.section-preguntas-frecuentes{
    padding: 50px 0px;
    border: 1px solid black;
    text-align: center;
    
}

/*Parte de acordeon (desplegable lista)*/
.acordeon-container {
  max-width: 600px;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.acordeon-item {
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.acordeon-header {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fcfcfc;
  transition: background 0.3s ease;
}

.acordeon-header h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
}

.acordeon-header:hover {
  background-color: #f3e5f5; /* Color sutil de hover */
}

.icon {
  font-size: 1.5rem;
  color: blueviolet; /* Color Synapse */
  font-weight: bold;
}

/* --- EFECTO DE DESPLIEGUE --- */
.acordeon-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
}

.acordeon-item.active .acordeon-content {
  max-height: 200px; /* Altura suficiente para el texto */
  padding: 0 20px 20px 20px;
}

.acordeon-item.active .acordeon-header h3 {
  color: blueviolet;
}